@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Font Family
$ff-primary: "Roboto", sans-serif;

// Colors
$clr-white: #f8f9fc;
$clr-black: #001219;
$clr-blue: #5e4ae3;
$clr-gray: hsl(0, 0%, 94%);
$clr-dark-gray: #42424a;
$clr-dark-gray-2: #191919;
$clr-light-gray: #f0f2f5;
