@import "../../sass/variables";

.sidebar-nav__link {
  display: flex;
  align-items: center;
  padding: 1.3em;
  border-radius: 7px;
  color: $clr-white;
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.05em;

  &--active {
    background-image: linear-gradient(195deg, #ec407a, #d81b60);
  }

  svg {
    margin-right: 1em;
    font-size: 1rem;
  }
}
