@import "../../sass/mixins";

.stats {
  display: grid;
  height: auto;

  @include respond-to("small") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to("large") {
    grid-template-columns: repeat(4, 1fr);
  }

  .message {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
  }
}
