@import "../../sass/mixins", "../../sass/variables";

.leaflet-container {
  width: 95%;
  min-height: 60vh;
  border-radius: 10px;
  margin: 4em auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  @include respond-to("small") {
    min-height: 70vh;
  }
}

.leaflet-popup {
  &-content-wrapper,
  &-tip {
    background-color: $clr-gray;
  }
}

.country-details {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;

  &__flag {
    width: 45px;
  }

  &__name {
    font-size: 0.8rem;
  }
}

.country-info {
  span {
    text-align: right;
  }
}
